body{
    text-align: center;
    background-color: #cccccc;
    margin: 0px;
}
h1{
    text-align: left;
    text-indent: 2em;
    background-color: white;
    margin-top: 0px;
    padding-bottom: 10px;
}
img{
    width: 200px;
    height: 300px;
}

#missao{
    font-size: 20px;
}

#missao strong{
    color: red;
}

#beneficios{
    background-color: white;
    margin: 0px;
    padding: 20px;
}
#itens{
    width: 300px;
}
#itens li {
    text-align: left;
    margin: auto;
    font-size: larger;
    font-style: italic;
}
#beneficios article{
    margin: auto;
}
#display{
    display: flex;
    margin: auto;
}
#texto{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
}